<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <!-- Favicon -->
        <link rel="shortcut icon" href="/images/favicon.ico" />
        <link rel="stylesheet" href="/css/backend-plugin.min.css" />
        <link rel="stylesheet" href="/css/backend.css?v=1.0.0" />
        <link
            rel="stylesheet"
            href="/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css"
        />
        <link rel="stylesheet" href="/vendor/remixicon/fonts/remixicon.css" />

        <link
            rel="stylesheet"
            href="/vendor/tui-calendar/tui-calendar/dist/tui-calendar.css"
        />
        <link
            rel="stylesheet"
            href="/vendor/tui-calendar/tui-date-picker/dist/tui-date-picker.css"
        />
        <link
            rel="stylesheet"
            href="/vendor/tui-calendar/tui-time-picker/dist/tui-time-picker.css"
        />
    </head>
    <body class="">
        <!-- loader Start -->
        <div id="loading">
            <div id="loading-center"></div>
        </div>
        <!-- loader END -->
        <!-- Wrapper Start -->
        <div class="wrapper">
            <div class="content-page">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div
                                        class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content"
                                    >
                                        <h5>Your Projects</h5>
                                        <div
                                            class="d-flex flex-wrap align-items-center justify-content-between"
                                        >
                                            <div
                                                class="dropdown status-dropdown mr-3"
                                            >
                                                <div
                                                    class="dropdown-toggle"
                                                    id="dropdownMenuButton03"
                                                    data-toggle="dropdown"
                                                >
                                                    <div class="btn bg-body">
                                                        <span class="h6"
                                                            >Status :</span
                                                        >
                                                        In Progress<i
                                                            class="ri-arrow-down-s-line ml-2 mr-0"
                                                        ></i>
                                                    </div>
                                                </div>
                                                <div
                                                    class="dropdown-menu dropdown-menu-right"
                                                    aria-labelledby="dropdownMenuButton03"
                                                >
                                                    <a
                                                        class="dropdown-item"
                                                        href="#"
                                                        ><i
                                                            class="ri-mic-line mr-2"
                                                        ></i
                                                        >In Progress</a
                                                    >
                                                    <a
                                                        class="dropdown-item"
                                                        href="#"
                                                        ><i
                                                            class="ri-attachment-line mr-2"
                                                        ></i
                                                        >Completed</a
                                                    >
                                                </div>
                                            </div>

                                            <% if(user.role === 'headofsubject')
                                            { %>
                                            <div
                                                class="pl-3 border-left btn-new"
                                            >
                                                <a
                                                    href="#"
                                                    class="btn btn-primary"
                                                    data-target="#new-project-modal"
                                                    data-toggle="modal"
                                                    >New Project</a
                                                >
                                            </div>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        id="grid"
                        class="item-content animate__animated animate__fadeIn active"
                        data-toggle-extra="tab-content"
                    >
                        <div class="row" id="account-body"></div>
                    </div>
                    <!-- Page end  -->
                </div>
            </div>
        </div>
        <!-- Wrapper End-->

        <!-- Modal add new -->
        <div
            class="modal fade"
            role="dialog"
            aria-modal="true"
            id="new-project-modal"
        >
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div
                        class="modal-header d-block text-center pb-3 border-bttom"
                    >
                        <h3 class="modal-title" id="exampleModalCenterTitle01">
                            New Project
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group mb-3">
                                    <label for="exampleInputText01" class="h5"
                                        >Project Name*</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="exampleInputText01"
                                        placeholder="Project Name"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group mb-3">
                                    <label for="exampleInputText02" class="h5"
                                        >Description *</label
                                    >
                                    <textarea
                                        type="text"
                                        class="form-control"
                                        id="exampleInputText02"
                                        placeholder="Description"
                                    ></textarea>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="exampleInputText2" class="h5"
                                        >Categories *</label
                                    >
                                    <select
                                        name="type"
                                        class="selectpicker form-control"
                                        data-style="py-0"
                                    >
                                        <option>Category</option>
                                        <option>Android</option>
                                        <option>IOS</option>
                                        <option>Ui/Ux Design</option>
                                        <option>Development</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="exampleInputText004" class="h5"
                                        >Due Dates*</label
                                    >
                                    <input
                                        type="date"
                                        class="form-control"
                                        id="exampleInputText004"
                                        value=""
                                    />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group mb-3">
                                    <label for="addUser" class="h5"
                                        >Assign Members*</label
                                    >
                                    <select
                                        name="type"
                                        class="selectpicker form-control"
                                        multiple="multiple"
                                        data-style="py-0"
                                        id="addUser"
                                    ></select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div
                                    class="d-flex flex-wrap align-items-ceter justify-content-center mt-2"
                                >
                                    <button
                                        class="btn btn-primary mr-3"
                                        data-dismiss="modal"
                                        onclick="addProject()"
                                    >
                                        Save
                                    </button>
                                    <div
                                        class="btn btn-primary"
                                        data-dismiss="modal"
                                    >
                                        Cancel
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal edit -->
        <div
            class="modal fade"
            role="dialog"
            aria-modal="true"
            id="edit-project-modal"
        >
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div
                        class="modal-header d-block text-center pb-3 border-bttom"
                    >
                        <h3 class="modal-title" id="exampleModalCenterTitle01">
                            Edit Project
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group mb-3">
                                    <label for="editProjectName" class="h5"
                                        >Project Name*</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="editProjectName"
                                        placeholder="Project Name"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group mb-3">
                                    <label
                                        for="editProjectDescription"
                                        class="h5"
                                        >Description *</label
                                    >
                                    <textarea
                                        type="text"
                                        class="form-control"
                                        id="editProjectDescription"
                                        placeholder="Description"
                                    ></textarea>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="exampleInputText2" class="h5"
                                        >Categories *</label
                                    >
                                    <select
                                        name="type"
                                        class="selectpicker form-control"
                                        data-style="py-0"
                                    >
                                        <option>Category</option>
                                        <option>Android</option>
                                        <option>IOS</option>
                                        <option>Ui/Ux Design</option>
                                        <option>Development</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="editEndDate" class="h5"
                                        >Due Dates*</label
                                    >
                                    <input
                                        type="date"
                                        class="form-control"
                                        id="editEndDate"
                                        value=""
                                    />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group mb-3">
                                    <label for="editUser" class="h5"
                                        >Assign Members*</label
                                    >
                                    <select
                                        name="type"
                                        class="selectpicker form-control"
                                        multiple="multiple"
                                        data-style="py-0"
                                        id="editUser"
                                    ></select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div
                                    class="d-flex flex-wrap align-items-ceter justify-content-center mt-2"
                                >
                                    <button
                                        class="btn btn-primary mr-3"
                                        data-dismiss="modal"
                                        onclick="doEdit()"
                                    >
                                        Save
                                    </button>
                                    <div
                                        class="btn btn-primary"
                                        data-dismiss="modal"
                                    >
                                        Cancel
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Confirm delete -->
        <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">
                            Delete project
                        </h4>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                        >
                            &times;
                        </button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Do you want to delete project
                        <strong id="delname"></strong>? , all data will be lost.
                    </div>
                    <input type="hidden" id="delid" />
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-danger"
                            onclick="do_delete()"
                        >
                            Delete
                        </button>
                        <button
                            type="button"
                            class="btn btn-dark"
                            data-dismiss="modal"
                        >
                            Cancle
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Confirm delete -->

        <!-- script manage project -->
        <script>
            // show loading
            function showLoading() {
                document.getElementById("loading").style.display = "block";
            }
            function hideLoading() {
                document.getElementById("loading").style.display = "none";
            }

            const accountBody = document.getElementById("account-body");

            let listProject = [];
            let listUser = [];
            let total = 0;

            // Get user
            function getUser() {
                const url = `${window.location.origin}/api/users`;
                fetch(url)
                    .then((res) => res.json())
                    .then((data) => {
                        listUser = data.data;
                        renderUser(listUser);
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            }

            const renderUser = (users) => {
                let html = "";
                users.forEach((user) => {
                    html += `<option value="${user._id}">${user.name}</option>`;
                });
                const addUserSelect = document.getElementById("addUser");
                if (addUserSelect) {
                    addUserSelect.innerHTML = html;

                    // Nếu sử dụng Bootstrap selectpicker
                    $("#addUser").selectpicker("refresh");
                } else {
                    console.error("Element with id 'addUser' not found!");
                }
            };

            getUser();

            const render = (projects, user) => {
                let html = "";
                projects.forEach((project, index) => {
                    const lecturersHtml = project.lecturers
                        .map((lecturer) => {
                            const avatar =
                                lecturer.avatar ||
                                "/images/user/default-avatar.png";
                            return `
                <div class="iq-media text-center">
                    <img class="img-fluid avatar-40 rounded-circle" src="${avatar}" alt="${lecturer.name}">
                </div>`;
                        })
                        .join("");

                    const adminActions =
                        user && user.role === "headofsubject"
                            ? `
                                <div class="d-flex align-items-center">
                                    <button class="btn bg-secondary-light no-link" type="button"
                                        data-toggle="modal"
                                        data-target="#edit-project-modal"
                                        onclick="editProject('${project._id}'); event.stopPropagation();">
                                        <i class="ri-edit-box-line m-0"></i>
                                    </button>
                                    <button class="btn bg-secondary-light ml-2 no-link" type="button"
                                        data-bs-toggle="modal"
                                        data-bs-target="#exampleModal"
                                        onclick="deleteProject('${project._id}'); event.stopPropagation();">
                                        <i class="ri-delete-bin-line m-0"></i>
                                    </button>
                                </div>`
                            : `
                                <div class="project-deadline text-muted font-weight-bold text-right">
                                    Deadline: ${new Date(
                                        project.end_date
                                    ).toLocaleDateString()}
                                </div>`;

                    html += `
                        <div class="col-lg-4 col-md-6" onclick="redirectPage('${project._id}');">
                            <div class="card card-block card-stretch card-height">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        <div
                                            id="circle-progress-6"
                                            class="circle-progress-01 circle-progress circle-progress-primary"
                                            data-min-value="0"
                                            data-max-value="100"
                                            data-value="${project.completion}"
                                            data-type="percent"
                                        ></div>
                                        <i class="ri-star-fill m-0 text-warning"></i>
                                    </div>
                                    <h5 class="mb-1">${project.name}</h5>
                                    <p class="mb-3">${project.description}</p>
                                    <div class="d-flex align-items-center justify-content-between pt-3 border-top">
                                        <div class="iq-media-group d-flex">
                                            ${lecturersHtml}
                                        </div>
                                        ${adminActions}
                                    </div>
                                </div>
                            </div>
                        </div>`;
                });

                accountBody.innerHTML = html;
            };

            const getProjects = async () => {
                showLoading();
                const url = `${window.location.origin}/api/projects`;
                try {
                    const res = await fetch(url);

                    const data = await res.json();
                    listProject = data.data.projectsWithCompletion;

                    hideLoading();
                    render(data.data.projectsWithCompletion, data.data.user);
                    return data;
                } catch (error) {
                    hideLoading();
                    console.log(error);
                }
            };

            const init = async () => {
                await getProjects();
            };

            // INIT
            init();

            // DELETE
            function deleteProject(id) {
                const project = listProject.find((p) => p._id === id);
                document.getElementById("delname").innerText = project.name;
                document.getElementById("delid").value = id;
                $("#exampleModal").modal("show");
            }

            function do_delete() {
                showLoading();
                const id = document.getElementById("delid").value;
                const url = `${window.location.origin}/api/projects/${id}`;
                fetch(url, {
                    method: "DELETE",
                })
                    .then((res) => res.json())
                    .then((data) => {
                        if (data.code === 0) {
                            hideLoading();
                            $("#exampleModal").modal("hide");
                            init();
                        }
                    })
                    .catch((error) => {
                        hideLoading();
                        $("#exampleModal").modal("hide");
                        console.log(error);
                    });
            }

            // ADD
            function addProject() {
                showLoading();
                const name =
                    document.getElementById("exampleInputText01").value;
                const description =
                    document.getElementById("exampleInputText02").value;
                // const category =
                //     document.getElementById("exampleInputText03").value;
                const dueDate = document.getElementById(
                    "exampleInputText004"
                ).value;
                const selectElement = document.getElementById("addUser");
                const members = Array.from(selectElement.selectedOptions).map(
                    (option) => option.value
                );

                console.log(members);

                const url = `${window.location.origin}/api/projects`;
                fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        name,
                        description,
                        // category,
                        end_date: dueDate,
                        lecturers: members,
                    }),
                })
                    .then((res) => res.json())
                    .then((data) => {
                        if (data.code === 0) {
                            hideLoading();
                            $("#new-project-modal").modal("hide");
                            init();
                            clearInput();
                        }
                    })
                    .catch((error) => {
                        hideLoading();
                        $("#new-project-modal").modal("hide");
                        console.log(error);
                    });
            }

            function clearInput() {
                document.getElementById("exampleInputText01").value = "";
                document.getElementById("exampleInputText02").value = "";
                const selectElement = document.getElementById("addUser");
                Array.from(selectElement.options).forEach(
                    (option) => (option.selected = false)
                );
                document.getElementById("exampleInputText004").value = "";
            }

            // EDIT
            function editProject(id) {
                const project = listProject.find((p) => p._id === id);

                const editUserSelect = document.getElementById("editUser");

                // Reset dropdown trước khi thêm option
                editUserSelect.innerHTML = "";

                listUser.forEach((user) => {
                    const option = document.createElement("option");
                    option.value = user._id;
                    option.textContent = user.name;

                    // Kiểm tra nếu user có trong danh sách lecturers
                    const isLecturer = project.lecturers.some(
                        (lecturer) => lecturer._id === user._id
                    );
                    if (isLecturer) {
                        option.selected = true; // Đánh dấu đã được chọn
                    }

                    editUserSelect.appendChild(option);
                });

                // Cập nhật giao diện selectpicker
                $("#editUser").selectpicker("refresh");

                document.getElementById("editProjectName").value = project.name;
                document.getElementById("editProjectDescription").value =
                    project.description;
                if (project.end_date) {
                    const formattedEndDate = new Date(project.end_date)
                        .toISOString()
                        .split("T")[0];
                    document.getElementById("editEndDate").value =
                        formattedEndDate;
                } else {
                    document.getElementById("editEndDate").value = ""; // Để trống nếu không có giá trị
                }

                document.getElementById("delid").value = id;
            }

            function doEdit() {
                showLoading();
                const id = document.getElementById("delid").value;
                const name = document.getElementById("editProjectName").value;
                const description = document.getElementById(
                    "editProjectDescription"
                ).value;
                const dueDate = document.getElementById("editEndDate").value;
                const selectElement = document.getElementById("editUser");
                const members = Array.from(selectElement.selectedOptions).map(
                    (option) => option.value
                );

                const url = `${window.location.origin}/api/projects/${id}`;
                fetch(url, {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        name,
                        description,
                        end_date: dueDate,
                        lecturers: members,
                    }),
                })
                    .then((res) => res.json())
                    .then((data) => {
                        if (data.code === 0) {
                            hideLoading();
                            $("#edit-project-modal").modal("hide");
                            init();
                        }
                    })
                    .catch((error) => {
                        hideLoading();
                        $("#edit-project-modal").modal("hide");
                        console.log(error);
                    });
            }

            //
            function redirectPage(id) {
                let members = listProject.find((p) => p._id === id).lecturers;
                localStorage.setItem("listUser", JSON.stringify(members));
                localStorage.setItem(
                    "projectName",
                    listProject.find((p) => p._id === id).name
                );
                window.location.href = `/task/${id}`;
            }
        </script>
    </body>
</html>
