<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="/images/favicon.ico" />
        <link rel="stylesheet" href="/css/backend-plugin.min.css" />
        <link rel="stylesheet" href="/css/backend.css?v=1.0.0" />
        <link
            rel="stylesheet"
            href="/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css"
        />
        <link rel="stylesheet" href="/vendor/remixicon/fonts/remixicon.css" />

        <link
            rel="stylesheet"
            href="/vendor/tui-calendar/tui-calendar/dist/tui-calendar.css"
        />
        <link
            rel="stylesheet"
            href="/vendor/tui-calendar/tui-date-picker/dist/tui-date-picker.css"
        />
        <link
            rel="stylesheet"
            href="/vendor/tui-calendar/tui-time-picker/dist/tui-time-picker.css"
        />
    </head>
    <body>
        <div class="iq-sidebar sidebar-default">
            <div class="iq-sidebar-logo d-flex align-items-center">
                <a href="/" class="header-logo">
                    <img src="/images/logo.svg" alt="logo" />
                    <h3 class="logo-title light-logo">TB-MH</h3>
                </a>
                <div class="iq-menu-bt-sidebar ml-0">
                    <i class="las la-bars wrapper-menu"></i>
                </div>
            </div>
            <div class="data-scrollbar" data-scroll="1">
                <nav class="iq-sidebar-menu">
                    <ul id="iq-sidebar-toggle" class="iq-menu">
                        <li class="active">
                            <a href="/" class="svg-icon">
                                <svg
                                    class="svg-icon"
                                    width="25"
                                    height="25"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                >
                                    <path
                                        d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"
                                    ></path>
                                    <polyline
                                        points="9 22 9 12 15 12 15 22"
                                    ></polyline>
                                </svg>
                                <span class="ml-4">Dashboards</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/project" class="svg-icon">
                                <svg
                                    class="svg-icon"
                                    width="25"
                                    height="25"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                >
                                    <polyline
                                        points="6 9 6 2 18 2 18 9"
                                    ></polyline>
                                    <path
                                        d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"
                                    ></path>
                                    <rect
                                        x="6"
                                        y="14"
                                        width="12"
                                        height="8"
                                    ></rect>
                                </svg>
                                <span class="ml-4">Projects</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/task" class="svg-icon">
                                <svg
                                    class="svg-icon"
                                    width="25"
                                    height="25"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                >
                                    <path
                                        d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"
                                    ></path>
                                    <rect
                                        x="8"
                                        y="2"
                                        width="8"
                                        height="4"
                                        rx="1"
                                        ry="1"
                                    ></rect>
                                </svg>
                                <span class="ml-4">Task</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/lecturer" class="svg-icon">
                                <svg
                                    class="svg-icon"
                                    width="25"
                                    height="25"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                >
                                    <path
                                        d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"
                                    ></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                                <span class="ml-4">Lecturers</span>
                            </a>
                        </li>
                        <li class="">
                            <a
                                href="../backend/page-desk.html"
                                class="svg-icon"
                            >
                                <svg
                                    class="svg-icon"
                                    width="25"
                                    height="25"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                >
                                    <path
                                        d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
                                    ></path>
                                    <polyline
                                        points="3.27 6.96 12 12.01 20.73 6.96"
                                    ></polyline>
                                    <line
                                        x1="12"
                                        y1="22.08"
                                        x2="12"
                                        y2="12"
                                    ></line>
                                </svg>
                                <span class="ml-4">Desk</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div
                    id="sidebar-bottom"
                    class="position-relative sidebar-bottom"
                >
                    <div class="card border-none mb-0 shadow-none">
                        <div class="card-body p-0">
                            <div class="sidebarbottom-content">
                                <h5 class="mb-3">Task Performed</h5>
                                <div
                                    id="circle-progress-6"
                                    class="sidebar-circle circle-progress circle-progress-primary mb-4"
                                    data-min-value="0"
                                    data-max-value="100"
                                    data-value="55"
                                    data-type="percent"
                                ></div>
                                <div class="custom-control custom-radio mb-1">
                                    <input
                                        type="radio"
                                        id="customRadio6"
                                        name="customRadio-1"
                                        class="custom-control-input"
                                        checked=""
                                    />
                                    <label
                                        class="custom-control-label"
                                        for="customRadio6"
                                        >Performed task</label
                                    >
                                </div>
                                <div class="custom-control custom-radio">
                                    <input
                                        type="radio"
                                        id="customRadio7"
                                        name="customRadio-1"
                                        class="custom-control-input"
                                    />
                                    <label
                                        class="custom-control-label"
                                        for="customRadio7"
                                        >Incomplete Task</label
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-5 pb-2"></div>
            </div>
        </div>
    </body>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const currentPath = window.location.pathname;
            const menuLinks = document.querySelectorAll(".iq-menu li a");

            menuLinks.forEach((link) => {
                if (link.getAttribute("href") === currentPath) {
                    link.parentElement.classList.add("active");
                } else {
                    link.parentElement.classList.remove("active");
                }
            });
        });
    </script>
</html>
