<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Favicon -->
        <link rel="shortcut icon" href="/images/favicon.ico" />
        <link rel="stylesheet" href="/css/backend-plugin.min.css" />
        <link rel="stylesheet" href="/css/backend.css?v=1.0.0" />
        <link
            rel="stylesheet"
            href="/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css"
        />
        <link rel="stylesheet" href="/vendor/remixicon/fonts/remixicon.css" />

        <link
            rel="stylesheet"
            href="/vendor/tui-calendar/tui-calendar/dist/tui-calendar.css"
        />
        <link
            rel="stylesheet"
            href="/vendor/tui-calendar/tui-date-picker/dist/tui-date-picker.css"
        />
        <link
            rel="stylesheet"
            href="/vendor/tui-calendar/tui-time-picker/dist/tui-time-picker.css"
        />
    </head>
    <body class="  ">
        <!-- loader Start -->
        <div id="loading">
            <div id="loading-center"></div>
        </div>
        <!-- loader END -->
        <!-- Wrapper Start -->
        <div class="wrapper">
            <div class="content-page">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div
                                    class="card-header d-flex justify-content-between"
                                >
                                    <div class="header-title">
                                        <h4 class="card-title">User List</h4>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <div
                                            class="row justify-content-between align-items-center"
                                        >
                                            <div class="col-sm-6 col-md-6">
                                                <div
                                                    id="user_list_datatable_info"
                                                    class="dataTables_filter"
                                                >
                                                    <form
                                                        class="mr-3 position-relative"
                                                    >
                                                        <div
                                                            class="form-group mb-0"
                                                        >
                                                            <input
                                                                type="search"
                                                                class="form-control"
                                                                id="exampleInputSearch"
                                                                placeholder="Search"
                                                                aria-controls="user-list-table"
                                                            />
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div
                                                class="col-auto pl-3 border-left btn-new"
                                            >
                                                <a
                                                    href="#"
                                                    class="btn btn-primary text-nowrap"
                                                    data-target="#new-user-modal"
                                                    data-toggle="modal"
                                                >
                                                    Add new lecturer
                                                </a>
                                            </div>
                                        </div>

                                        <table
                                            id="user-list-table"
                                            class="table table-striped dataTable mt-4"
                                            role="grid"
                                            aria-describedby="user-list-page-info"
                                        >
                                            <thead>
                                                <tr class="ligth">
                                                    <th>Profile</th>
                                                    <th>Name</th>
                                                    <th>Contact</th>
                                                    <th>Email</th>
                                                    <th>Adress</th>
                                                    <th>Status</th>
                                                    <!-- <th>Company</th> -->
                                                    <th>Join Date</th>
                                                    <th
                                                        style="min-width: 100px"
                                                    >
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div
                                        class="row justify-content-between mt-3"
                                    >
                                        <div
                                            id="user-list-page-info"
                                            class="col-md-6"
                                        >
                                            <span
                                                >Showing 1 to 5 of 5
                                                entries</span
                                            >
                                        </div>
                                        <div class="col-md-6">
                                            <nav
                                                aria-label="Page navigation example"
                                            >
                                                <ul
                                                    class="pagination justify-content-end mb-0"
                                                >
                                                    <li
                                                        class="page-item disabled"
                                                    >
                                                        <a
                                                            class="page-link"
                                                            href="#"
                                                            tabindex="-1"
                                                            aria-disabled="true"
                                                            >Previous</a
                                                        >
                                                    </li>
                                                    <li
                                                        class="page-item active"
                                                    >
                                                        <a
                                                            class="page-link"
                                                            href="#"
                                                            >1</a
                                                        >
                                                    </li>
                                                    <li class="page-item">
                                                        <a
                                                            class="page-link"
                                                            href="#"
                                                            >2</a
                                                        >
                                                    </li>
                                                    <li class="page-item">
                                                        <a
                                                            class="page-link"
                                                            href="#"
                                                            >3</a
                                                        >
                                                    </li>
                                                    <li class="page-item">
                                                        <a
                                                            class="page-link"
                                                            href="#"
                                                            >Next</a
                                                        >
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Wrapper End-->

        <!-- Modal list start -->

        <!-- Modal add new user -->
        <div
            class="modal fade bd-example-modal-lg"
            role="dialog"
            aria-modal="true"
            id="new-user-modal"
        >
            <div
                class="modal-dialog modal-dialog-centered modal-lg"
                role="document"
            >
                <div class="modal-content">
                    <div
                        class="modal-header d-block text-center pb-3 border-bttom"
                    >
                        <h3 class="modal-title" id="exampleModalCenterTitle02">
                            New User
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group mb-3 custom-file-small">
                                    <label for="exampleInputText01" class="h5"
                                        >Upload Profile Picture</label
                                    >
                                    <div class="custom-file">
                                        <input
                                            type="file"
                                            class="custom-file-input"
                                            id="inputUserImage"
                                        />
                                        <label
                                            class="custom-file-label"
                                            for="inputUserImage"
                                            id="inputUserImageLabel"
                                            >Choose file</label
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="inputName" class="h5"
                                        >Full Name</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="inputName"
                                        placeholder="Enter your full name"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="inputPhoneNumber" class="h5"
                                        >Phone Number</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="inputPhoneNumber"
                                        placeholder="Enter phone number"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="inputEmail" class="h5"
                                        >Email</label
                                    >
                                    <input
                                        type="email"
                                        class="form-control"
                                        id="inputEmail"
                                        placeholder="Enter your Email"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="inputAddress" class="h5"
                                        >Address</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="inputAddress"
                                        placeholder="Enter your Address"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="exampleInputText2" class="h5"
                                        >Role</label
                                    >
                                    <select
                                        name="type"
                                        id="role"
                                        class="selectpicker form-control"
                                        data-style="py-0"
                                    >
                                        <option>Role</option>
                                        <option>Designer</option>
                                        <option>Developer</option>
                                        <option>Manager</option>
                                        <option>BDE</option>
                                        <option>SEO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div
                                    class="d-flex flex-wrap align-items-ceter justify-content-center mt-2"
                                >
                                    <button
                                        class="btn btn-primary mr-3"
                                        data-dismiss="modal"
                                        onclick="create_lecturer()"
                                    >
                                        Save
                                    </button>
                                    <div
                                        class="btn btn-primary"
                                        data-dismiss="modal"
                                    >
                                        Cancel
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal add new user end -->

        <!-- Modal edit user -->
        <div
            class="modal fade bd-example-modal-lg"
            role="dialog"
            aria-modal="true"
            id="edit-user-modal"
        >
            <div
                class="modal-dialog modal-dialog-centered modal-lg"
                role="document"
            >
                <div class="modal-content">
                    <div
                        class="modal-header d-block text-center pb-3 border-bttom"
                    >
                        <h3 class="modal-title" id="exampleModalCenterTitle02">
                            Edit User
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group mb-3 custom-file-small">
                                    <label for="exampleInputText01" class="h5"
                                        >Upload Profile Picture</label
                                    >
                                    <div class="custom-file">
                                        <input
                                            type="file"
                                            class="custom-file-input"
                                            id="inputUserImage"
                                        />
                                        <label
                                            class="custom-file-label"
                                            for="inputUserImage"
                                            id="inputUserImageLabel"
                                            >Choose file</label
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="editInputName" class="h5"
                                        >Full Name</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="editInputName"
                                        placeholder="Enter your full name"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="editInputPhoneNumber" class="h5"
                                        >Phone Number</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="editInputPhoneNumber"
                                        placeholder="Enter phone number"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="editInputEmail" class="h5"
                                        >Email</label
                                    >
                                    <input
                                        type="email"
                                        class="form-control"
                                        id="editInputEmail"
                                        placeholder="Enter your Email"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="editInputAddress" class="h5"
                                        >Address</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="editInputAddress"
                                        placeholder="Enter your Address"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="exampleInputText2" class="h5"
                                        >Role</label
                                    >
                                    <select
                                        name="type"
                                        id="editRole"
                                        class="selectpicker form-control"
                                        data-style="py-0"
                                    >
                                        <option>Role</option>
                                        <option>Designer</option>
                                        <option>Developer</option>
                                        <option>Manager</option>
                                        <option>BDE</option>
                                        <option>SEO</option>
                                    </select>
                                </div>
                            </div>
                            <input type="hidden" id="editid" />
                            <div class="col-lg-12">
                                <div
                                    class="d-flex flex-wrap align-items-ceter justify-content-center mt-2"
                                >
                                    <button
                                        class="btn btn-primary mr-3"
                                        data-dismiss="modal"
                                        onclick="do_edit()"
                                    >
                                        Save
                                    </button>
                                    <div
                                        class="btn btn-primary"
                                        data-dismiss="modal"
                                    >
                                        Cancel
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Confirm delete -->
        <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">
                            Delete user
                        </h4>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                        >
                            &times;
                        </button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Do you want to delete lecturer
                        <strong id="delname"></strong>?
                    </div>
                    <input type="hidden" id="delid" />
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-danger"
                            onclick="do_delete()"
                        >
                            Delete
                        </button>
                        <button
                            type="button"
                            class="btn btn-dark"
                            data-dismiss="modal"
                        >
                            Cancle
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Confirm delete -->
    </body>

    <script>
        // action loading
        function showLoading() {
            document.getElementById("loading").style.display = "block";
        }
        function hideLoading() {
            document.getElementById("loading").style.display = "none";
        }

        const accountBody = document.querySelector("#user-list-table tbody");

        let listAccount = [];
        let total = 0;

        const render = (accounts) => {
            let htmlAccount = "";
            accounts.forEach((account, index) => {
                const createdDate = new Date(
                    account.createdAt
                ).toLocaleDateString("en-GB"); // "dd/mm/yyyy"

                htmlAccount += `
                 <tr id ='tr${account._id}'>
                    <td class="text-center">
                        <img
                            class="rounded img-fluid avatar-40"
                            src="${account.avatar}"
                            alt="profile"
                        />
                    </td>
                    <td>${account.name}</td>
                    <td>${account.phone}</td>
                    <td>
                        ${account.email}
                    </td>
                    <td>${account.address}</td>
                    <td>
                        <span
                            class="badge bg-primary"
                            >${account.status}</span
                        >
                    </td>
                    <td>${createdDate}</td>
                    <td>
                        <div
                            class="flex align-items-center list-user-action"
                        >
                            <!-- <a
                                class="btn btn-sm bg-primary"
                                data-toggle="tooltip"
                                data-placement="top"
                                title=""
                                data-original-title="Add"
                                href="#"
                                ><i
                                    class="ri-user-add-line mr-0"
                                ></i
                            ></a> -->
                            <button
                                type="button"
                                class="btn btn-sm bg-primary"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="edit"
                                data-original-title="Edit"
                                onclick="edit_account('${index}', '${account._id}')"
                                ><i
                                    class="ri-pencil-line mr-0"
                                ></i
                            ></button>
                            <button
                                type="button"
                                class="btn btn-sm bg-primary"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="delete"
                                data-original-title="Delete"
                                onclick="delete_account('${account._id}')"
                                ><i
                                    class="ri-delete-bin-line mr-0"
                                ></i
                            ></button>
                        </div>
                    </td>
                </tr>
                `;
            });
            accountBody.innerHTML = htmlAccount;
        };

        const getAccount = async () => {
            const url = `${window.location.origin}/api/users`;
            try {
                const res = await fetch(url);
                const data = await res.json();
                listAccount = data.data;
                render(data.data);
                return data;
            } catch (error) {
                console.log(error);
            }
        };

        const init = async () => {
            const res = await getAccount();
        };

        init();

        // delete account
        function delete_account(id) {
            let ht = $("#tr" + id).find("td")[1].innerText;
            $("#delname").text(ht);
            $("#delid").text(id);
            $("#exampleModal").modal("show");
        }
        function do_delete() {
            showLoading();
            let id = $("#delid").text();
            $.ajax({
                url: "/api/users/" + id,
                type: "DELETE",
                success: function (result) {
                    $("#tr" + id).remove();
                    $("#exampleModal").modal("hide");
                    init();
                    hideLoading();
                },
                error: function (error) {
                    alert(error);
                    hideLoading();
                },
            });
        }

        // add new lecturer
        async function create_lecturer() {
            try {
                showLoading();
                const file = $("#inputUserImage")[0].files[0];
                let imageUrl = undefined;
                if (file) {
                    imageUrl = await uploadImage(file, "lecturer");
                }

                let body = {
                    name: $("#inputName").val(),
                    phone: $("#inputPhoneNumber").val(),
                    email: $("#inputEmail").val(),
                    address: $("#inputAddress").val(),
                    role: $("#role").val(),
                    avatar: imageUrl,
                };

                const res = await fetch("/auth/register", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(body),
                });
                if (res.status === 200) {
                    $("#new-user-modal").modal("hide");
                    init();
                    alert("Create success");
                    hideLoading();
                    clearInputCreate();
                }
            } catch (error) {
                alert(error);
                hideLoading();
            }
        }

        function clearInputCreate() {
            document.getElementById("inputName").value = "";
            document.getElementById("inputPhoneNumber").value = "";
            document.getElementById("inputEmail").value = "";
            document.getElementById("inputAddress").value = "";
            document.getElementById("role").value = "";
            document.getElementById("inputUserImage").value = "";
            document.getElementById("inputUserImageLabel").innerText =
                "Choose file";
        }

        // edit account
        function edit_account(index, id) {
            let account = listAccount[index];
            console.log(account);

            let name = account.name;
            let phone = account.phone;
            let email = account.email;
            let address = account.address;
            let role = account.role;

            $("#editInputName").val(name);
            $("#editInputPhoneNumber").val(phone);
            $("#editInputEmail").val(email);
            $("#editInputAddress").val(address);
            $("#editRole").val(role);

            $("#editid").val(id);
            $("#edit-user-modal").modal("show");
        }
        async function do_edit() {
            try {
                showLoading();
                let id = $("#editid").val();
                const file = $("#inputUserImage")[0].files[0];
                let imageUrl = undefined;
                if (file) {
                    imageUrl = await uploadImage(file, "lecturer");
                }

                let body = {
                    name: $("#editInputName").val(),
                    phone: $("#editInputPhoneNumber").val(),
                    email: $("#editInputEmail").val(),
                    address: $("#editInputAddress").val(),
                    role: $("#editRole").val(),
                    avatar: imageUrl,
                };

                const res = await fetch("/api/users/" + id, {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(body),
                });

                const data = await res.json();
                if (res.status === 200) {
                    $("#edit-user-modal").modal("hide");
                    hideLoading();
                    init();
                }
                hideLoading();
            } catch (error) {
                alert(error);
                hideLoading();
            }
        }
    </script>
</html>
